@font-face {
    font-family: "Cuprum";
    src: url('./../fonts/Cuprum-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lobster";
    src: url('./../fonts/Lobster-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poiret One";
    src: url('./../fonts/PoiretOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

// @font-face {
//     font-family: "Montserrat";
//     src: url('./../fonts/Montserrat-Thin.woff2') format('woff2');
//     font-weight: 400;
//     font-style: normal;
// }
